:root {
  --first-color: #385cc7;
  --secondary-color: #32d9c3;
  --thirty-color: #4dc0e8;
  --text-dark: #484747;
  --text-light: #fff;
  --bg-firt: #385cc7;
  --bg-secondary: #32d9c3;
  --bg-thirty: #4dc0e8;
  --bg-dark: #484747;
  --bg-light: #fff;
  --paddingY: 3rem;
  --paddingX: 3rem; }

.secondary-title {
  font-size: 1.7rem;
  line-height: 2rem; }
  @media screen and (min-width: 768px) {
    .secondary-title {
      font-size: 1.9rem;
      line-height: 2.2rem; } }
  @media screen and (min-width: 768px) and (min-width: 1024px) {
    .secondary-title {
      font-size: 2.7rem;
      line-height: 3.2rem; } }
  @media screen and (min-width: 768px) and (min-width: 1024px) and (min-width: 1250px) {
    .secondary-title {
      font-size: 2.9rem;
      line-height: 3.5rem; } }
  @media screen and (min-width: 768px) and (min-width: 1024px) and (min-width: 1250px) and (min-width: 1400px) {
    .secondary-title {
      font-size: 3.2rem;
      line-height: 3.8rem; } }

.description {
  line-height: 1.5rem;
  font-weight: 300;
  margin-top: .8rem;
  font-size: 0.9rem; }
  @media screen and (1024px) {
    .description {
      font-size: 1rem;
      line-height: 1.6rem; } }

.hover-btn {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .hover-btn:before {
    content: "";
    width: 0;
    height: 1px;
    display: block;
    -webkit-transition: width .5s, margin-right .5s;
    -o-transition: width .5s, margin-right .5s;
    transition: width .5s, margin-right .5s;
    background-color: #fff; }
  @media screen and (min-width: 1024px) {
    .hover-btn:hover:before {
      margin-right: 1rem;
      width: 40px; } }

.container {
  width: 90%;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto; }

*:after,
*:before,
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif; }

p,
a,
span,
select,
textarea,
li, ul {
  font-family: "Roboto", sans-serif; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

img {
  display: block;
  max-width: 100%; }

iframe {
  display: block;
  border: 0; }

input, textarea, select {
  outline: none;
  border: 0;
  padding: .5rem; }

textarea {
  resize: none; }

.delay-1 {
  -webkit-animation-delay: 1.3s;
  animation-delay: 1.3s; }

.delay-2 {
  -webkit-animation-delay: 1.7s;
  animation-delay: 1.7s; }

header {
  width: 100%;
  position: fixed;
  z-index: 9;
  background-color: #fff; }
  @media screen and (min-width: 1024px) {
    header {
      -webkit-box-shadow: unset;
      box-shadow: unset;
      position: absolute;
      padding-top: 1rem;
      padding-bottom: 1rem; } }
  header .header__contenedor {
    padding-top: .5rem;
    padding-bottom: .5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media screen and (min-width: 1024px) {
      header .header__contenedor {
        padding-top: 0;
        padding-bottom: 0; } }
    header .header__contenedor--logotipo {
      position: relative;
      z-index: 2; }
      header .header__contenedor--logotipo a {
        background-image: url(../../public/img/imagotipo-2.png);
        background-repeat: no-repeat;
        background-position: left center;
        background-size: contain;
        width: 100px;
        height: 55px;
        text-indent: -1000em;
        display: block; }
        @media screen and (min-width: 768px) {
          header .header__contenedor--logotipo a {
            width: 130px;
            height: 70px; } }
  @media screen and (min-width: 768px) and (min-width: 1024px) {
    header .header__contenedor--logotipo a {
      width: 170px;
      height: 60px; } }
  @media screen and (min-width: 768px) and (min-width: 1250px) {
    header .header__contenedor--logotipo a {
      height: 70px; } }
    header .header__contenedor--icono {
      width: 30px;
      cursor: pointer;
      display: block;
      position: relative;
      z-index: 2; }
      header .header__contenedor--icono .icon-element {
        width: 100%;
        height: 2px;
        -webkit-transition: opacity .5s, -webkit-transform .5s;
        transition: opacity .5s, -webkit-transform .5s;
        -o-transition: transform .5s, opacity .5s;
        transition: transform .5s, opacity .5s;
        transition: transform .5s, opacity .5s, -webkit-transform .5s;
        background-color: #385cc7; }
        header .header__contenedor--icono .icon-element:nth-child(2) {
          margin-top: 5px; }
        header .header__contenedor--icono .icon-element:nth-child(3) {
          margin-top: 5px; }
      @media screen and (min-width: 1024px) {
        header .header__contenedor--icono {
          display: none; } }
    header .header__contenedor .iconClick .icon-element:nth-child(1) {
      -webkit-transform: rotate(45deg) translate(5px, 5px);
      -ms-transform: rotate(45deg) translate(5px, 5px);
      transform: rotate(45deg) translate(5px, 5px); }
    header .header__contenedor .iconClick .icon-element:nth-child(2) {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
      opacity: 0; }
    header .header__contenedor .iconClick .icon-element:nth-child(3) {
      -webkit-transform: rotate(-45deg) translate(5px, -5px);
      -ms-transform: rotate(-45deg) translate(5px, -5px);
      transform: rotate(-45deg) translate(5px, -5px); }
    header .header__contenedor nav {
      position: fixed;
      width: 100%;
      background-color: #484747;
      top: 0;
      left: 0;
      pointer-events: none;
      opacity: 0;
      -webkit-transition: opacity .5s;
      -o-transition: opacity .5s;
      transition: opacity .5s;
      height: 100vh;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      @media screen and (min-width: 768px) {
        header .header__contenedor nav {
          top: 86px;
          height: calc(100% - 86px); } }
      @media screen and (min-width: 1024px) {
        header .header__contenedor nav {
          pointer-events: auto;
          opacity: 1;
          position: static;
          height: unset;
          width: unset;
          background-color: transparent; } }
      header .header__contenedor nav .nav__lista {
        width: 100%; }
        @media screen and (min-width: 1024px) {
          header .header__contenedor nav .nav__lista {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center; } }
        header .header__contenedor nav .nav__lista--item {
          text-align: center; }
          header .header__contenedor nav .nav__lista--item a {
            color: #fff;
            font-size: 1.1rem;
            padding: 1rem .8rem;
            display: inline-block; }
            @media screen and (min-width: 1024px) {
              header .header__contenedor nav .nav__lista--item a {
                padding: 0 2rem;
                font-weight: 400;
                font-size: .9rem;
                color: #484747; } }
          @media screen and (min-width: 1024px) {
            header .header__contenedor nav .nav__lista--item:last-child a {
              padding-right: 0; } }
    header .header__contenedor .navTranslate {
      pointer-events: auto;
      opacity: 1; }

.clientes {
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 100%; }
  @media screen and (min-width: 1024px) {
    .clientes {
      padding-top: 4rem;
      padding-bottom: 4rem; } }
  .clientes .row {
    width: 90%;
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto; }

.owl-dots {
  display: none; }

footer {
  --paddingY: 2rem;
  width: 100%;
  padding-top: var(--paddingY);
  padding-bottom: var(--paddingY);
  background-color: #484747; }
  @media screen and (min-width: 1024px) {
    footer {
      padding-top: 3rem; } }
  footer .footer__contenedor--informacion {
    width: 100%; }
    @media screen and (min-width: 768px) {
      footer .footer__contenedor--informacion {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; } }
    footer .footer__contenedor--informacion .logotipo {
      width: 180px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1rem; }
      @media screen and (min-width: 1024px) {
        footer .footer__contenedor--informacion .logotipo {
          width: 200px; } }
      footer .footer__contenedor--informacion .logotipo img {
        width: 100%; }
    footer .footer__contenedor--informacion .informacion__lista {
      margin-top: 1.5rem;
      display: none; }
      @media screen and (min-width: 768px) {
        footer .footer__contenedor--informacion .informacion__lista {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          footer .footer__contenedor--informacion .informacion__lista--item a {
            color: #fff;
            padding-left: 1.5em;
            font-size: .9rem; } }
      @media screen and (min-width: 1024px) {
        footer .footer__contenedor--informacion .informacion__lista {
          margin-top: 0; } }
    footer .footer__contenedor--informacion:last-child {
      padding-top: .9rem;
      margin-top: .7rem;
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      color: #fff;
      text-align: center;
      font-size: .9rem;
      font-weight: 300; }
      @media screen and (min-width: 768px) {
        footer .footer__contenedor--informacion:last-child {
          margin-top: 1rem; } }
  @media screen and (min-width: 768px) and (min-width: 768px) {
    footer .footer__contenedor--informacion:last-child {
      padding-top: 1.1rem; } }
      footer .footer__contenedor--informacion:last-child .informacion__desarrollo {
        margin-top: .5rem; }
        @media screen and (min-width: 768px) {
          footer .footer__contenedor--informacion:last-child .informacion__desarrollo {
            margin-top: 0; } }
        footer .footer__contenedor--informacion:last-child .informacion__desarrollo a {
          color: #fff;
          font-weight: 700;
          margin-left: .5rem; }

.banner {
  height: 100vh; }
  @media screen and (min-width: 1024px) {
    .banner {
      --gradient: 0;
      background-image: none; } }
  .banner__container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .banner__container .banner__main {
      text-align: center;
      color: var(--text-dark);
      width: 100%; }
      .banner__container .banner__main--img {
        --margin: auto;
        position: relative;
        width: 250px;
        margin-left: var(--margin);
        margin-right: var(--margin); }
        @media screen and (min-width: 768px) {
          .banner__container .banner__main--img {
            width: 280px; } }
        @media screen and (min-width: 1024px) {
          .banner__container .banner__main--img {
            width: 330px; } }
        @media screen and (min-width: 1250px) {
          .banner__container .banner__main--img {
            width: 350px; } }
        @media screen and (min-width: 1400px) {
          .banner__container .banner__main--img {
            width: 370px; } }
        .banner__container .banner__main--img img {
          width: 250px;
          margin-bottom: 1rem;
          margin-left: auto;
          margin-right: auto; }
          @media screen and (min-width: 768px) {
            .banner__container .banner__main--img img {
              width: 280px; } }
          @media screen and (min-width: 1024px) {
            .banner__container .banner__main--img img {
              width: 330px; } }
          @media screen and (min-width: 1250px) {
            .banner__container .banner__main--img img {
              width: 350px; } }
          @media screen and (min-width: 1400px) {
            .banner__container .banner__main--img img {
              width: 370px; } }
          .banner__container .banner__main--img img:first-child {
            position: relative;
            z-index: 1; }
          .banner__container .banner__main--img img:last-child {
            position: absolute;
            top: 25px;
            right: 10px;
            width: 140px;
            -webkit-animation: logo 1.3s ease-in;
            animation: logo 1.3s ease-in; }

@-webkit-keyframes logo {
  0%, 50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    opacity: 0;
    top: 30px;
    right: -10px; }
  51% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    opacity: 0;
    top: 30px;
    right: -10px; }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
    top: 25px;
    right: 10px; } }

@keyframes logo {
  0%, 50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    opacity: 0;
    top: 30px;
    right: -10px; }
  51% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    opacity: 0;
    top: 30px;
    right: -10px; }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
    top: 25px;
    right: 10px; } }
            @media screen and (min-width: 768px) {
              .banner__container .banner__main--img img:last-child {
                width: 160px; } }
            @media screen and (min-width: 1024px) {
              .banner__container .banner__main--img img:last-child {
                width: 190px; } }
            @media screen and (min-width: 1250px) {
              .banner__container .banner__main--img img:last-child {
                width: 205px; } }
            @media screen and (min-width: 1400px) {
              .banner__container .banner__main--img img:last-child {
                width: 220px; } }
      .banner__container .banner__main h2 {
        font-size: 2.5rem; }
        @media screen and (min-width: 480px) {
          .banner__container .banner__main h2 {
            font-size: 2.8rem; } }
        @media screen and (min-width: 768px) {
          .banner__container .banner__main h2 {
            font-size: 3.5rem; } }
        @media screen and (min-width: 1024px) {
          .banner__container .banner__main h2 {
            color: #484747;
            font-size: 3.6rem; } }
        @media screen and (min-width: 1250px) {
          .banner__container .banner__main h2 {
            font-size: 4.4rem; } }
        @media screen and (min-width: 1400px) {
          .banner__container .banner__main h2 {
            font-size: 4.8rem; } }
        .banner__container .banner__main h2 span {
          margin-left: 1rem; }
          .banner__container .banner__main h2 span.typed-cursor {
            display: none; }
      .banner__container .banner__main--button {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
        .banner__container .banner__main--button a {
          color: #fff;
          padding: .8rem 2rem;
          display: inline-block;
          margin-top: .8rem;
          -webkit-box-shadow: 0 0 10px 1px rgba(72, 71, 71, 0.5);
          box-shadow: 0 0 10px 1px rgba(72, 71, 71, 0.5);
          -webkit-transition: all .5s;
          -o-transition: all .5s;
          transition: all .5s;
          background-color: #385cc7;
          margin-top: 1rem; }
          @media screen and (min-width: 1024px) {
            .banner__container .banner__main--button a {
              margin-top: 1.2rem; } }
          @media screen and (min-width: 1250px) {
            .banner__container .banner__main--button a {
              margin-top: 1.4rem; } }

.nosotros {
  --padding: 3rem;
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  background-color: #385cc7; }
  @media screen and (min-width: 1024px) {
    .nosotros {
      --padding: 6rem; } }
  .nosotros__container .nosotros__img {
    display: none; }
    @media screen and (min-width: 1024px) {
      .nosotros__container .nosotros__img {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: block;
        height: 500px;
        margin-top: -180px;
        background-image: url("../../public/img/banner/bg-image.jpg"); } }
    @media screen and (min-width: 1250px) {
      .nosotros__container .nosotros__img {
        height: 600px;
        margin-top: -220px; } }
  .nosotros__container .nosotros__main {
    color: #fff;
    text-align: center;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (min-width: 768px) {
      .nosotros__container .nosotros__main {
        max-width: 600px; } }
    @media screen and (min-width: 1024px) {
      .nosotros__container .nosotros__main {
        max-width: 550px;
        margin-top: 4rem; } }
    @media screen and (min-width: 1250px) {
      .nosotros__container .nosotros__main {
        max-width: 600px;
        margin-top: 5rem; } }

.call {
  --padding: 5rem;
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../../public/img/call/bg-image.jpg"); }
  @media screen and (min-width: 1024px) {
    .call {
      --padding: 8rem; } }
  .call__container .call__main {
    color: #fff;
    text-align: center;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (min-width: 768px) {
      .call__container .call__main {
        max-width: 600px; } }
    @media screen and (min-width: 1024px) {
      .call__container .call__main {
        max-width: 550px; } }
    @media screen and (min-width: 1250px) {
      .call__container .call__main {
        max-width: 600px; } }
    .call__container .call__main--button {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-top: 1rem; }
      .call__container .call__main--button a {
        color: #fff;
        padding: .8rem 2rem;
        display: inline-block;
        margin-top: .8rem;
        -webkit-box-shadow: 0 0 10px 1px rgba(72, 71, 71, 0.5);
        box-shadow: 0 0 10px 1px rgba(72, 71, 71, 0.5);
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
        background-color: #385cc7; }

.plataforma {
  --padding: 3rem;
  padding-top: var(--padding);
  padding-bottom: var(--padding); }
  @media screen and (min-width: 1024px) {
    .plataforma {
      --padding: 6rem; } }
  .plataforma__container .plataforma__main {
    color: #484747;
    text-align: center;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (min-width: 768px) {
      .plataforma__container .plataforma__main {
        max-width: 600px; } }
    @media screen and (min-width: 1024px) {
      .plataforma__container .plataforma__main {
        max-width: 550px; } }
    @media screen and (min-width: 1250px) {
      .plataforma__container .plataforma__main {
        max-width: 670px; } }
  .plataforma__container .plataforma__grid {
    --columns: 1;
    --gap: 20px;
    margin-top: 2rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[var(--columns)];
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-gap: var(--gap); }
    @media screen and (min-width: 600px) {
      .plataforma__container .plataforma__grid {
        --columns: 3; } }
    @media screen and (min-width: 1024px) {
      .plataforma__container .plataforma__grid {
        --columns: 5;
        --gap: 10px;
        margin-top: 3rem; } }
    @media screen and (min-width: 1250px) {
      .plataforma__container .plataforma__grid {
        --gap: 20px
      ; } }
    .plataforma__container .plataforma__grid--item {
      --margin: auto;
      width: 100%;
      max-width: 230px;
      margin-left: var(--margin);
      margin-right: var(--margin);
      text-align: center;
      color: #fff;
      padding: 1.5rem 1rem;
      background-color: #385cc7; }
      @media screen and (min-width: 600px) {
        .plataforma__container .plataforma__grid--item {
          max-width: 100%; } }
      @media screen and (min-width: 1024px) {
        .plataforma__container .plataforma__grid--item {
          -webkit-transition: -webkit-transform .5s;
          transition: -webkit-transform .5s;
          -o-transition: transform .5s;
          transition: transform .5s;
          transition: transform .5s, -webkit-transform .5s; }
          .plataforma__container .plataforma__grid--item:hover {
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
            -webkit-box-shadow: 0 0 10px 1px rgba(72, 71, 71, 0.1);
            box-shadow: 0 0 10px 1px rgba(72, 71, 71, 0.1); } }
      .plataforma__container .plataforma__grid--item span {
        font-size: 3rem; }
        @media screen and (min-width: 1250px) {
          .plataforma__container .plataforma__grid--item span {
            font-size: 4.5rem; } }
      .plataforma__container .plataforma__grid--item p {
        margin-top: 1rem; }
        @media screen and (min-width: 1250px) {
          .plataforma__container .plataforma__grid--item p {
            margin-top: 1.5rem; } }

.contact {
  --padding: 3rem;
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  background-color: #385cc7; }
  @media screen and (min-width: 1024px) {
    .contact {
      --padding: 6rem;
      position: relative;
      background-color: transparent; } }
  .contact__form {
    --margin: auto;
    width: 90%;
    max-width: 400px;
    margin-left: var(--margin);
    margin-right: var(--margin); }
    @media screen and (min-width: 768px) {
      .contact__form {
        max-width: 550px; } }
    @media screen and (min-width: 1024px) {
      .contact__form {
        max-width: 650px; } }
