footer
    .footer__contenedor.container
        .footer__contenedor--informacion
            a(href="#inicio" class="logotipo")
                img(src="public/img/imagotipo-2.png", alt="Logotipo")
        .footer__contenedor--informacion
            p.informacion__copy.description Copyright © Todos los Derechos Reservados
            p.informacion__desarrollo.description Desarrollado por:
                a(href="https://syscontrollers.com" target='_blank' rel="noopener noreferrer") Syscontrollers
