//------------------
//----- BANNER
//------------------
.banner
{
  height  : 100vh;
  @include from ($m3)
  {
    --gradient : 0;
    background-image: none
  }
  &__container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .banner__main{
      text-align: center;
      color: var(--text-dark);
      width: 100%;
      &--img{
        --margin: auto;
        position: relative;
        width: 250px;
        margin-left: var(--margin);
        margin-right: var(--margin);
        @include from ($m2){
            width: 280px
          }
        @include from ($m3){
          width: 330px
        }
        @include from ($m4){
          width: 350px
        }
        @include from ($m5){
          width: 370px
        }
        img{
          width: 250px;
          margin-bottom: 1rem;
          margin-left: auto;
          margin-right: auto;
          @include from ($m2){width: 280px}
          @include from ($m3){width: 330px}
          @include from ($m4){width: 350px}
          @include from ($m5){width: 370px}
          &:first-child{
            position: relative;
            z-index: 1
          }
          &:last-child{
            position: absolute;
            top: 25px;
            right: 10px;
            width: 140px;
            animation: logo 1.3s ease-in;
            @keyframes logo{
              0%, 50%{transform: rotate(180deg); opacity: 0;top: 30px; right: -10px}
              51%{transform: rotate(180deg); opacity: 0;top: 30px; right: -10px}
              100%{transform: rotate(0deg); opacity: 1; top: 25px; right: 10px}
            }
            @include from ($m2){width: 160px}
            @include from ($m3){width: 190px}
            @include from ($m4){width: 205px}
            @include from ($m5){width: 220px}
          }
        }
      }
      h2{
        font-size: 2.5rem;
        @include from ($m1){
          font-size: 2.8rem
        }
        @include from ($m2){
          font-size: 3.5rem
        }
        @include from ($m3){
          color: $text-dark;
          font-size: 3.6rem
        }
        @include from ($m4){
          font-size: 4.4rem
        }
        @include from ($m5){
          font-size: 4.8rem
        }
        span{
          margin-left: 1rem;
          &.typed-cursor{
            display: none;
          }
        }
      }
      &--button{
        display: flex;
        justify-content: center;
        a{
          @include p-btn($text-light,$bg-first);
          margin-top: 1rem;
          @include from ($m3){
            margin-top: 1.2rem
          }
          @include from ($m4){
            margin-top: 1.4rem
          }
        }
      }
    }
  }
}

//------------------
//----- STEPS
//------------------
.nosotros{
  --padding: 3rem;
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  background-color: $bg-first;
  @include from ($m3){
    --padding: 6rem;
  }
  &__container{
    .nosotros__img{
     display: none;
     @include from ($m3){
        @include bg-cont;
        display: block;
        height: 500px;
        margin-top: -180px;
        background-image: url('../../public/img/banner/bg-image.jpg');
     } 
     @include from ($m4){
       height: 600px;
       margin-top: -220px
     }
    }
    .nosotros__main{
      color: $text-light;
      text-align: center;
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
      @include from ($m2){
        max-width: 600px;
      }
      @include from ($m3){
        max-width: 550px;
        margin-top: 4rem
      }
      @include from ($m4){
        max-width: 600px;
        margin-top: 5rem
      }
    }
  }
}
//------------------
//----- CALL TO ACTION
//------------------
.call{
  --padding: 5rem;
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  @include bg-cont;
  background-image: url('../../public/img/call/bg-image.jpg');
  @include from ($m3){
    --padding: 8rem;
  }
  &__container{
    .call__main{
      color: $text-light  ;
      text-align: center;
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
      @include from ($m2){
        max-width: 600px;
      }
      @include from ($m3){
        max-width: 550px;
      }
      @include from ($m4){
        max-width: 600px;
      }
      &--button{
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        a{
          @include p-btn($text-light, $bg-first)
        }
      }
    }
  }
}
//------------------
//----- PLATAFORMA
//------------------
.plataforma{
  --padding: 3rem;
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  @include from ($m3){
    --padding: 6rem;
  }
  &__container{
    .plataforma__main{
      color: $text-dark;
      text-align: center;
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
      @include from ($m2){
        max-width: 600px;
      }
      @include from ($m3){
        max-width: 550px;
      }
      @include from ($m4){
        max-width: 670px;
      }
    }
    .plataforma__grid{
      --columns: 1;
      --gap: 20px;
      margin-top: 2rem;
      display: grid;
      grid-template-columns: repeat(var(--columns), 1fr);
      grid-gap: var(--gap);
      @media screen and (min-width: 600px){
        --columns: 3;
      }
      @include from ($m3){
        --columns: 5;
        --gap: 10px;
        margin-top: 3rem
      }
      @include from ($m4){
        --gap: 20px
      }
      &--item{
        --margin: auto;
        width: 100%;
        max-width: 230px;
        margin-left: var(--margin);
        margin-right: var(--margin);
        text-align: center;
        color: $text-light;
        padding: 1.5rem 1rem;
        background-color: $bg-first;
        @media screen and (min-width: 600px){
          max-width: 100%;
        }
        @include from ($m3){
          transition: transform .5s;
          &:hover{
            transform: scale(1.1);
            box-shadow: 0 0 10px 1px rgba($bg-dark, .1)
          }
        }
        span{
          font-size: 3rem;
          @include from ($m4){
            font-size: 4.5rem
          }
        }
        p{
          margin-top: 1rem;
          @include from ($m4){
            margin-top: 1.5rem
          }
        }
      }
    }
  }
}
//------------------
//----- CONTACT
//------------------
.contact{
  --padding: 3rem;
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  background-color: $bg-first;
  @include from ($m3){
    --padding: 6rem;
    position: relative;
    background-color: transparent;
  }
  &__form{
    --margin: auto;
    width: 90%;
    max-width: 400px;
    margin-left: var(--margin);
    margin-right: var(--margin);
    @include from ($m2){
      max-width: 550px;
    }
    @include from ($m3){
      max-width: 650px;
    }
  }
}