extends ../config/template
    
prepend styles
block contenido

    //-- BANNER
    .banner
        .banner__container.container
            .banner__main
                h1.banner__main--img.wow.fadeInUp
                    img(src="public/img/imagotipo-1--alt.png", alt="Logotipo")
                    img(src="public/img/imagotipo-2--alt.png", alt="Logotipo")
                h2.wow.fadeInUp.delay-1: span#typed
                .banner__main--button.wow.fadeInUp.delay-2
                    a(href='#contact').hover-btn Registrate ya
    //--- NOSOTROS
    .nosotros
        .nosotros__container.container
            .nosotros__img.wow.fadeInUp.delay-2
            .nosotros__main.wow.fadeInUp
                h2.secondary-title Seamos honesto
                p.description Hoy en dia son miles las personas que buscan ayuda professional en internet, y utilizar la tecnologia ya no es una opcion, es una necesitdad.
    //--- CALL TO ACTION
    .call
        .call__container.container
            .call__main.wow.fadeInUp
                h2.secondary-title Registrate ya
                .call__main--button
                    a(href="#contact").hover-btn ¿Estás listo?
    //--- PLATAFORMA
    .plataforma
        .plataforma__container.container
            .plataforma__main.wow.fadeInUp
                h2.secondary-title Nosotros creamos esta plataforma pensando en ti
                p.description Pensando en profesionales que quieren utilizer la tecnologia para aumnetar sus ingresos. No te quedes atras, esta es tu oportundad de:
            .plataforma__grid.wow.fadeInUp
                +plataforma-item(
                    'fas fa-desktop',
                    'Tener la tecnologia en la palma de tu mano'
                )
                +plataforma-item(
                    'fas fa-user-alt',
                    'Sé tu propio jefe, elige cuando y donde quieres trabajar'
                )
                +plataforma-item(
                    'fas fa-coins',
                    'Aumenta tus ingresos, sin la necesidad de invertir tu dinero'
                )
                +plataforma-item(
                    'fas fa-search',
                    'Enfócate en tu trabajo y no en cobrar'
                )
                +plataforma-item(
                    'far fa-clock',
                    'Disfruta de tu tiempo libre, nosotros nos enfocamos en buscarte clientes'
                )
    //--- CONTACT
    .contact#contact
        form.contact__form
           
        
prepend script-final
    script(src="public/js/type.js")
    script.
        $(function () {
            $("#typed").typed({
                strings: ["Sé tu propio jefe", "Aumenta tus ingresos", 'Elige donde y cuando trabajar'],
                typeSpeed: 100,
                backDelay: 2000,
                loop: true,
                loopCount: false,
                callback: function () {
                    foo();
                }
            });

            function foo() {
                console.log("Callback");
            }
        })