//----------------
//----------------
//--- BUTTON PROPERTY

@mixin p-btn($color,$background){
    color: $color;
    padding: .8rem 2rem;
    display: inline-block;
    margin-top: .8rem;
    box-shadow: 0 0 10px 1px rgba($bg-dark, .5);
    transition: all .5s;
    background-color: $background
}

//----------------
//----------------
//--- CONTAINER PROPERTY

@mixin l-cont{
    width: 90%;
    max-width: 1250px
}


//----------------
//----------------
//--- CENTER PROPERTY

@mixin l-center{
    margin-left: auto;
    margin-right: auto
}

//----------------
//----------------
//--- BACKGROUND PROPERTY

@mixin bg-cont{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

