:root
{

  // C O L O R S

  --first-color     : #385cc7;
  --secondary-color : #32d9c3;
  --thirty-color    : #4dc0e8;

  // T E X T

  --text-dark       : #484747;
  --text-light      : #fff;

  // B A C K G R O U N D

  --bg-firt         : #385cc7;
  --bg-secondary    : #32d9c3;
  --bg-thirty       : #4dc0e8;
  --bg-dark         : #484747;
  --bg-light        : #fff;

  // P A D D I N G

  --paddingY        : 3rem;
  --paddingX        : 3rem;
}

// C O L O R S

$first-color     : #385cc7;
$secondary-color : #32d9c3;
$thirty-color : #58595b;

// T E X T

$text-dark       : #484747;
$text-light    : #fff;

// B A C K G R O U N D

$bg-first: #385cc7;
$bg-secondary: #32d9c3;
$bg-thirty: #4dc0e8;
$bg-dark: #484747;
$bg-light: #fff;

// F O N T - F A M I L Y

$fuente-principal : 'Raleway', sans-serif;
$fuente-secundaria:'Roboto', sans-serif;